<h1>Org</h1>
  <p>
    <strong>Org Name:</strong>
    <%= @org.name %>
  </p>
  <p>
    <strong>Demo:</strong>
    <%= @org.demo %>
  </p>
  <p>
    <strong>Users</strong>
    <% @org.users.each do |u| %>
      <%= u.first_name %>
      <%= u.last_name %></br>
    <% end %>
  </p>
  
  <p>
    <strong>Orgs</strong>
    <% @org.accounts.each do |a| %>
      <%= a.org_id %>
      <%= a.user_id %></br>
    <% end %>
  </p>
  <h1>Add a User</h1>

  <%= form_for([@org, @org.users.build ]) do |u| %>
    <%= u.label "First Name" %>
    <%= u.text_field :first_name %>
    <%= u.label "Last Name" %>
    <%= u.text_field :last_name %>
    <%= u.submit "New User" %>

  <% end %>
