<h1>Org</h1>
  <table border='1'>
    <tr>
    <th><strong>Org Name:</strong></th>
    <th><strong>Org ID</strong></th>
    <th><strong>Org Demo</strong></th>
    <tr>
   <td> <%= @org.name %></td>
    <td> <%= @org.id %></td>
    <td><%= @org.demo %></td>
  </table>
  <table border='1'>
    </tr>
      <th><strong>User First Name</strong></th>
      <th><strong>User Last Name</strong></th>
      <th><strong>User ID.</strong></th>
      <th><strong>Account Org ID</strong></th>
      <th><strong>Account User ID</strong></th>
    </tr>

    <tr>
   
    <% @org.users.each do |u| %>
     <tr>
     <td><%= u.first_name %></td>
      <td><%= u.last_name %></td>
      <td><%= u.id %></td>
    <% end %>
    <% @org.accounts.each do |a| %>
      <td><%= a.org_id %></td>
      <td><%= a.user_id %></td>
    </tr>
    <% end %>
</table>
  <h1>Add a User</h1>

  <%= form_for([@org, @org.users.build ]) do |u| %>
    <%= u.label "First Name" %>
    <%= u.text_field :first_name %>
    <%= u.label "Last Name" %>
    <%= u.text_field :last_name %>
    <%= u.submit "New User" %>

  <% end %>
